<app-topo></app-topo>
<div *ngIf="jogoEmAndamento; else fimDoJogo">
    <app-painel (encerrarJogo)="encerrarJogo($event)"></app-painel>
</div>

<ng-template #fimDoJogo>
    <div *ngIf="encerramentoDoJogo === 'derrota'; else fimDeJogoVitoria" class="container" style="margin-top: 50px;">
        <div class="row">
            <div class="col">
                <h3 style="color: red">GAME OVER!</h3>
                <button type="button" class="btn btn-primary" (click)="reiniciarJogo()">Reiniciar Jogo</button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #fimDeJogoVitoria>
    <div class="container" style="margin-top: 50px;">
        <div class="row">
            <div class="col">
                <h3 style="color: green">PARABÉNS, VOCÊ GANHOU!</h3>
                <button type="button" class="btn btn-primary" (click)="reiniciarJogo()">Reiniciar Jogo</button>
            </div>
        </div>
    </div>
</ng-template>